@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=PT+Serif:wght@400;700&family=Work+Sans:wght@400;500;600;700&display=swap');

@font-face {
  font-family: "Liberation Sans";
  src: url("./../../fonts/LiberationSans-Regular.ttf"),
  url("./../../fonts/LiberationSans-Regular.woff") format("woff"),
  url("./../../fonts/LiberationSans-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Liberation Sans";
  src: url("./../../fonts/LiberationSans-Bold.ttf"),
  url("./../../fonts/LiberationSans-Bold.woff") format("woff"),
  url("./../../fonts/LiberationSans-Regular.woff2") format("woff2");
  font-weight: 700;
}

