/* Base */
@import "./base/fonts";
@import "./base/reset";
@import "./base/vars";
@import "./base/base";
@import "./base/utils";
@import "./base/containers";
@import "./base/sticky-footer";

/* Blocks */
@import "./blocks/*.scss";


h1 {
  color: $title-color;
  //font-family: 'Liberation Sans', sans-serif;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-size: 50px;
  display: flex;
  box-sizing: border-box;
}

img {
  height: 200px;
}

.first {
  //font-family: 'Borel', cursive;
  font-family: 'Kanit', sans-serif;
  //font-family: 'Liberation Sans', sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.second {
  font-family: 'Kanit', sans-serif;
  //font-family: 'Liberation Sans', sans-serif;
  font-size: 32px;
  font-weight: 400;
}

span {
  font-family: 'Liberation Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
}