/* Base */
@import "./base/fonts";
@import "./base/reset";
@import "./base/vars";
@import "./base/base";
@import "./base/utils";
@import "./base/containers";
@import "./base/sticky-footer";

/* Blocks */
@import "./blocks/*.scss";


h1 {
  color: $title-color;
  font-family: 'Liberation Sans', sans-serif;
  font-size: 50px;
}

img {
  height: 200px;
}